.todo{
  transition-duration: .4s;
  height: 3.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  backface-visibility: hidden;
  margin-bottom: .5rem;
}

.todo__circle{
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: 2px solid #777;
  cursor: pointer;
  transition-duration: .4s;
  text-align: center;
  line-height: 1.5rem;
  margin-right: 1rem;
}

.check-mark{
  transition-duration: .4s;
  display: inline-block;
  transform: rotate(45deg);
}

.todo__row{
  width: calc(100% - 4.2rem);
  height: 3.4rem;
  line-height: 3.4rem;
  border-bottom: 1px solid #ccc;
  padding: 0 1rem;
  box-sizing: content-box;
}

.todo__row-text{
  width: 77%;
  height: 100%;
  display: inline-block;
  font-size: 1.6rem;
}

.btn-wrap{
  width: 23%;
  float: right;
}
.todo__row-btn{
  color: #359ba8;
  cursor: pointer;
  font-size: 1.8rem;
  line-height: 3.4rem;
}
.todo__row-btn:first-child{
  margin-right: 1rem;
}

.complete .todo__circle{
  border: 2px solid #08b9bf;
}

.complete .check-mark{
  width: 1.2rem;
  height: .8rem;
  border-left: 2px solid #08b9bf;
  border-bottom: 2px solid #08b9bf;
  transform: rotate(-45deg);
}

.complete .todo__row-text{
  color: #ccc;
}

.isEditing, .Edited{
  font-family: inherit;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: inherit;
  height: inherit;
  font-weight: inherit;
  padding: 0;
}